<!DOCTYPE html>

<html lang="ko">
  {% load static %}

  <head>
    <meta charset="UTF-8">
    <title>하울의 움직이는성</title>

    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'single_pages/css/landing.css' %}" media="screen">
    <script src="https://kit.fontawesome.com/5e41d0e485.js" crossorigin="anonymous"></script>
  </head>

  <body>
    {% include 'blog/navbar.html' %}

    <section>
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-6 text-light">
            <h1 class="mt-5">하울의 움직이는성</h1>
            <h4>하울의 움직이는성의 블로그입니다. 어서오세요!</h4>
          </div>
          <div class="col-lg-5 mt-5">
            <h2 class="text-light">블로그 - 최신</h2>
            {% for post in recent_posts %}
              <div class="card mt-1">
                <div class="card-body">
                  <h6>
                    <a href="{{ post.get_absolute_url }}" class="text-decoration-none text-dark">
                      <h4>{{ post.title }}</h4>
                    </a>
                  </h6>
                  <span class="badge rounded-pill text-bg-light float-end">
                    <img class="mr-1 rounded-circle" width="20px" src="{{ post.get_avatar_url }}" alt="{{ post.author }}">
                    {{ post.author.username }}
                    &nbsp; &nbsp;
                    {{ post.created_at }}
                  </span>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="fixed-bottom">
    {% include 'blog/footer.html' %}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>

</html>